html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header,.section_out,footer {
    width: 100%;
}
/* 顶部nav */
header{
    height: 0.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.14rem;
}
/* 中间大块 */
header .nav_list{
    display: flex;
    width: 3.46rem;
    height: 0.32rem;
    justify-content: space-between;
    align-items: center;
    color: #666666;
}
/* 左边 */
.nav_list .nav_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.14rem;
    line-height: 0.14rem;
    font-size: 0.14rem;     
}
.nav_left i{
    line-height: 0.14rem;
    font-size: 0.14rem;
}
/* 中间 */
.nav_list  .nav_search {
    width: 2.6rem;
    height: 0.32rem;
    background-color: #F4F4F4;
    display: flex;
    border-radius: 0.13rem;
    align-items: center;
    position: relative;
}
.nav_search>label {
    position: absolute;
    width: 0.14rem;
    height: 0.13rem;
    left: 0.09rem;
    top: 0.08rem;
}
.nav_search>label i {
    position: absolute;
    font-size: 0.13rem;
    left: 0;
    top: 0;
}
.nav_search>input {
    outline: none;
    padding-left: 0.28rem;
    height: 0.13rem;
    font-size: 0.13rem;
    background-color: #F4F4F4;
}
/* 右边 */
.nav_list .nav_right {
    width: 0.2rem;
    position: relative;
    height: 0.2rem;
}
.nav_right>i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.2rem;
}



.section_out{
    flex: 1;
    background: #efefef;
    overflow-x: hidden; 
}
.section_out>img{
    width: 100%;
}
.nav_list{
    background-color: #fff;
}
section{
    background-color: #fff;
    display: flex;
}
.chose1{
    /* flex-direction: row; */
    height: 1.02rem;
    margin: 0 0.07rem;
    border-bottom: 1px solid #eee;
    justify-content: space-around;
}
section li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section img{
    width: 0.46rem;
}
section span{
    margin-top: 0.08rem;
    font-size: 0.11rem;
    color: #666;
    text-align: center;
}
.chose2{
    flex-wrap: wrap;
}
.chose2 li{
    width: 0.75rem;
    text-align: center;
}
.chose2 li img{
    margin: 0.14rem auto 0;
    width: 0.22rem;
}
.chose2 li span{
    margin: 0.1rem auto 0.15rem;
}
.list{
    margin-top: 0.1rem;
    display: block;
    background-color: #fff;
}
.list ul, .list li{
    width: 100%;
}
.list li{
    border-top: 2px solid #e5e5e5;
    height: 1.19rem;
    width: 100%;
    /* overflow: hidden; */
    padding: 0.12rem 0.11rem 0 0.1rem;
}
.list li img{
    width: 0.86rem;
    float: left;
    margin-right: 0.13rem;
}
.list li p{
    float: left;
}
.list_head{
    margin-top: 0.13rem;
    font-size: 0.14rem;
    font-weight: bold;
    color: #333;
    float: left;
}
.dist{
    float: right;
    margin-top: 0.16rem;
    font-size: 0.1rem;
    color: #999;
}
.tip{
    color: #999;
    font-size: 0.11rem;
    margin: 0.1rem auto 0.06rem;
}
.price{
    color: #999;    
    font-size: 0.12rem;
    width: 1rem;
}
.price span{
    color: #06c1ae;
}
.price span:last-of-type{
    font-size: 0.17rem;
    font-weight: bold;
    margin-right: 0.06rem;
}
footer{
    border-top :1px solid black;
    height: 0.48rem;
    display: flex;
    justify-content: space-around;
}
footer li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer li i{
    margin-top: 0.07rem;
    font-size: 0.22rem !important;
    color: #c2c1bb;
}
footer li span{
    font-size: 0.09rem;
    color: #c2c1bb;
}
footer li:hover i, footer li:hover span{
    color: #06c1ad;
}